# Python with Mushayyed

## How to use Jupyter notebook

## Basics of Python

### **01- My First Program**

In [1]:
print(2+3)
print("Hello World")
print("We are learning Python with Mushayyed")

5
Hello World
We are learning Python with Mushayyed

### **02- Operators**

In [2]:
print(2+3)
print(6-2)
print(8*2)
print(8/2)
print(13%2)
print(8//2)
print(2**3)

print(3**2/2*3/3+6-4)

5
4
16
4.0
1
4
8
6.5

*PEMDAS 
Paranthesis Exponents Multiply Divide Addition Sub
left to right sequence for M D & A S*

### **03- Strings**

In [3]:
print("Hello World")
print("We are learning Python with Mushayyed")
print('test for single quotes')
print("test for double quotes")
print('''test for tripple quotes''')

print("what's up")

Hello World
We are learning Python with Mushayyed
test for single quotes
test for double quotes
test for tripple quotes
what's up

### **04- Comments**

The shortcut key to comments is "CTRL+/"

In [4]:
print("How are you?") #press these to comment out (Ctrl+?)
print("We are learning python with Mushayyed") #print a string
print(2+6) #print operators function with numbers

How are you?
We are learning python with Mushayyed
8

### **05- Variables**
The variables are the objects containing specific values

**Rules to assign a variable**

1- The variable should contain letters, numbers or underscores

2- Do not start with numbers

3- Spaces are not allowed

4- Do not use keywrods used in function (break, mean, media, test, etc.)

5- Short and descriptive

6- Case sensitivty (Lowercase, uppercase letter, suggest only lowercase letters should be used)

**del is used for delete the code, like: del fruit_basket**

In [5]:
x = 5 #numerator integer varable
print(x)

y="we are learning Python with Mushayyed" #string variable
print(y)

x = x+15 #or x=15
print(x)

# Types of variables
type(x)

print(type(x))

print(type(y))

fruit_basket= "Mangoes", "Oranges"
print(fruit_basket)

fruit_basket= "Mangoes, Oranges"
print(fruit_basket)

fruit_basket= 8
print(fruit_basket)

type(fruit_basket)
print(type(fruit_basket))
print(fruit_basket)

fruit_basket= "Mangoes"
print(fruit_basket)

type(fruit_basket)
print(type(fruit_basket))
print(fruit_basket)

5
we are learning Python with Mushayyed
20
<class 'int'>
<class 'str'>
('Mangoes', 'Oranges')
Mangoes, Oranges
8
<class 'int'>
8
Mangoes
<class 'str'>
Mangoes

### **06- Input Variables**

1- Input function (1st Code)

2- Input function of 2nd stage (2nd Code)

3- Another way of stage 2 input function (3rd Code)

4- Third stage input function (4th Code)

In [6]:
fruit_basket= "Mangoes"
print(fruit_basket)

fruit_basket=input("what is your favourite fruit?")
print(fruit_basket)
      
name= input("what is your name? ")
greetings="Hello!"
print(greetings, name)
      
name= input("what is your name? ")
print("Hello!", name)
      
name= input("what is your name? ")
age= input("How old are you? ")
greetings="Hello!"
print(greetings, name, ", You are still young")

Mangoes
what is your favourite fruit?Apple
Apple
what is your name? Mushayyed
Hello! Mushayyed
what is your name? M. Ali
Hello! M. Ali
what is your name? Khan
How old are you? 10
Hello! Khan , You are still young

### **07- Conditional Logics**

Logical operators are either "true or false" or "yes or no" or "0 or 1"

equal to ==

not equal to !=

less than <

greater than >

less than and equal to <=

greater than and equal to >=

1- is 4 equal to 4?

2- Application of logical operators

3- Anput function and logical operator

3a- hammad_age=input("How old is Hammad? ") #input function

3b- print(hammad_age==age_at_School) #logical operator

In [7]:
print(4==4)
print(4!=4)
print(4>3)
print(3<4)
print(3>6)
print(3<=5)
print(5>=4)

hammad_age=4
age_at_School=5
print(hammad_age==age_at_School)

age_at_School=5
hammad_age=input("How old is Hammad? ")
hammad_age=int(hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_School)

hammad_age=6
age_at_School=5
print(hammad_age==age_at_School)

age_at_School=5
hammad_age=input("How old is Hammad? ")
hammad_age=int(hammad_age)
print(type(hammad_age))
print(hammad_age==age_at_School)

True
False
True
True
False
True
True
False
How old is Hammad? 4
<class 'int'>
False
False
How old is Hammad? 5
<class 'int'>
True

### **08- Type of Conversion**

x = 10.2 (integer)

y = 10 (float)

z = "Hello" (string)

1- Implicit type conversion

2- Explicit type conversion

In [8]:
x = 10.2
y = 10
z = "Hello"

x= x+y

print(x, "type of x is;", type(x))

age=input("what is your age? ")
age=int(age)
print(age, type(int(age)))

age=input("what is your age? ")
age=float(age)
print(age, type(float(age)))

name=input("what is your name? ")
print(name, type(str(name)))

20.2 type of x is; <class 'float'>
what is your age? 10
10 <class 'int'>
what is your age? 10.5
10.5 <class 'float'>
what is your name? Mushayyed
Mushayyed <class 'str'>

### **09- if, else and elif**

**Question:** can hammad go to school?

In [9]:
required_age_at_school = 5
hammad_age = 2

if hammad_age==required_age_at_school:
    print("Congratulationals! Hammad can join the school")
elif hammad_age > required_age_at_school:
    print("Hammad should join higher secondary school")
elif hammad_age == 2:
    print("You should take care of Hammad, he is still a baby!")
elif hammad_age <= 2:
    print("You should take care of Hammad, he is still a baby!")
else:
    print("Hammad can not go to school")

You should take care of Hammad, he is still a baby!

### **10- Functions**

1- Defining a functions

2- Defining a function with if, elif and else statements (school_calculator)

3- Defining a function of future

In [10]:
def print_mushayyed():
    print("We are learning with Mushayyed")
    print("We are learning with Mushayyed")
print_mushayyed()


def print_mushayyed():
    text = "We are learning with Mushayyed in Youtube"
    print(text)
    print(text)
    print(text)
print_mushayyed()


def print_mushayyed(text):
    print(text)
    print(text)
    print(text)
print_mushayyed("We are learning with Mushayyed in Youtube")



def school_calculator(age, text):
    if age== 5:
        print("Hammad can join the school")
    elif age > 5:
        print("Hammad should go to higher school")
    else:
        print("Hammad is still a baby")

school_calculator(6, "Hammad can join the school")



def future_age(age):
    new_age= age+20
    return new_age
    print(new_age)

future_predicted_age = future_age(5)
print(future_predicted_age)

We are learning with Mushayyed
We are learning with Mushayyed
We are learning with Mushayyed in Youtube
We are learning with Mushayyed in Youtube
We are learning with Mushayyed in Youtube
We are learning with Mushayyed in Youtube
We are learning with Mushayyed in Youtube
We are learning with Mushayyed in Youtube
Hammad should go to higher school
25

### **11- Loops**

1- while and For loops

2- array

if (d=="Fri"):break loop stops

if (d=="Fri"):continue skips d

In [11]:
x= 0
while (x<=5):
    print(x)
    x= x+1

for x in range(5, 11):
    print(x)

days = ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

for d in days:
    if (d=="Fri"):break
    print(d)

for d in days:
    if (d=="Fri"):continue
    print(d)

0
1
2
3
4
5
5
6
7
8
9
10
Mon
Tue
Wed
Thu
Mon
Tue
Wed
Thu
Sat
Sun

### **12- Import Libraries**

1- If you want to print the value of pi and mean

**important libraries in Python: numpy,
pandas**

In [12]:
import math
print("The value of pi is ", math.pi)

import statistics
x= [15, 250, 350, 450]
print(statistics.mean(x))

The value of pi is  3.141592653589793
266.25

### **13- Trouble Shooting**

1- print(we are learning Python with Mushayyed) --syntax error

2- print(25/0) --runtime error

3- print("Hello name") --wrong

**trouble shooting is easy**

In [13]:
name= "Mushayyed"
print("Hello ", name) #right

Hello  Mushayyed